<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new User</title>
</head>
<body>
<h1>Create user</h1>
<br>

<form th:method="POST" th:action="@{/new}" th:object="${user}">
    <div>
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name">
    </div>
    <br>
    <div>
        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname">
    </div>
    <br>
    <div>
        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age">
    </div>
    <br> <br>
    <input type="submit" value="Create"/>
</form>

</body>
</html>